<!-- SIDEBAR COLUMN -->
<div id="content" class="side">


<!-- This User's Full Name and profile page link -->
  <div class="bubble profile_box">
    <% profile_image = @user.gravatar_url %>
    <img id="profile_image" src="<%= profile_image %>">
    <% @logged_in_user = current_user %>
    <span class="user_name"><%= @user.name %></span>
    <span class="handle">(@<%= @user.user_name %>)</span>

<!-- Follow/Unfollow buttons if visitor is not User -->
    <%= erb :_follow_button %>
  </div>

<%= erb :_search %>

<!-- This User is following: -->
  <div class="bubble profile_box">
    <h3><%= @user.user_name %> is following:</h3><hr>
    <ol>
      <% @user.followed_users.each_with_index do |user, index| %>
      <li><a href="/users/<%= user.id %>"><%= user.user_name %></a></li>
      <% end %>
    </ol>
  </div>


<!-- This user is being followed by: -->
  <div class="bubble profile_box">
    <h3><%= @user.user_name %> is followed by: </h3><hr>
    <ol>
      <% @user_followers = User.followers(@user.id);
        @user_followers.each do |follower| %>
      <li><a href="/users/<%= follower.id %>"><%= follower.user_name %></a></li>
      <% end %>
    </ol>
  </div>
</div><!-- /SIDEBAR COLUMN -->


<!-- MAIN COLUMN -->
<div id="content" class="main">

<!-- Creating a tweet if this page belongs to the user -->
  <% if @logged_in_user.id == @user.id %>
    <div class="bubble">

      <%= erb :_create_tweet %>
      <hr>

    </div>
  <% end %>


<!-- This User's tweets-->
  <div class="bubble">
    <h2><%= @user.user_name %> Tweets</h2>

    <div class="container-sml">
      <% @user.tweets.sort_by{ |tweet| tweet.created_at}.each do |tweet| %>
      <section class="tweet">
        <a href="/users/<%= tweet.user.id %>">@<%= tweet.user.user_name %></a>
        <span class="time"> | <%= tweet.created_at.strftime("%H hours and %M minutes ago") %></span>
        <br>
        <%= tweet.message %><br>

        <!-- Retweet button goes here-->
        <% if @logged_in_user != @user %>
          <span><a href="/tweets/<%= tweet.id %>/retweets"><button type="button">Retweet</button></a></span>
        <% end %>

      </section>
      <% end %>
    </div>
  </div>
</div>